{  
  "plugins": ["transform-decorators-legacy", "transform-runtime", "transform-class-properties"],
	"presets": ["es2015", "stage-3", "react"],
	"env": {
		"development": {
			"plugins": ["./build/babelRelayPluginForDev", "react-hot-loader/babel"]			
		},
    "production": {      
      "plugins": ["./build/babelRelayPlugin"]
    }
	}
}

