.media-wrapper{
	padding-left: 70px;
}

.TileCard{
	@include size(220px, 220px);
	@include border-radius(10px);
	overflow: hidden;
	margin-top: 27px;
	float: left;
	margin-left: 20px;
    border: 1px solid #e0e0e0;
	
	img{
		float: left;
		@include size(220px, 225px);
	}

	.CardMedia{
		//@include size(220px, 225px);
		.CardMedia-timer{
			background-color: rgba(234, 234, 234, .6);
			padding: 3px 10px;
			@include border-radius(10px);
			position: absolute;
			bottom: 10px;
			right: 5px;
			font-size: 13px;
		}
	}
	.CardText{
		padding: 20px;
	}
}