.text-editor {
  position: relative;
  padding: 15px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: text;
}

.text-editor{
  .toolbar{
  
    .block {
      margin-bottom: 5px;
    }
    .button {
      display: inline-block;
      padding: 2px 0;
      margin-right: 10px;
      cursor: pointer;
      color: $color-black;
      font-size: 20px;
      vertical-align: top;
    }

    .button.active {
      color: $color-blue;
    }

    .button svg {
      color:inherit!important;
    }
  }

  .body{
    padding-top:15px;
  }
}