$color-black: #333333;
$color-white: #ffffff;
$color-primary: rgb(41, 130, 217) !default;
$color-purple: #7583a2;
$color-blue: #0592e0;
$color-blue-light: #5cc4fe;
$color-blue-lighter: #90CAF9;
$color-blue-lightest: #e5f3ff;
$color-grey: #969eb0;
$color-grey-light: #c5c9d0;
$color-grey-lighter: #d7dbe8;
$color-grey-lightest: #eff2f9;
$color-box-shadow: #e5e7eb;

$color-green: #80c80b;